
.loginform a {
    text-decoration: none;
}

    .loginform a :hover {
        color: #f70;
    }

.form-line {
    border-left: 1px solid #B29999;
    
}

.account-balance ul {

    padding:0;
}

.account-balance ul li{
    list-style:none;
      
}
