
/************************categories**********************/

.wraper{
    max-width:970px !important;margin:auto;
    border:1px solid #ededed;
    border-radius:5px;
}


/************************categories**********************/