
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Free Add </title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/bootstrap-imageupload.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .btn-facebook {
            background: #3B5998;
            border-radius: 0;
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: #263961;
        }

            .btn-facebook:link, .btn-facebook:visited {
                color: #fff;
            }

            .btn-facebook:active, .btn-facebook:hover {
                background: #263961;
                color: #fff;
            }


        .btn-googleplus {
            background: #E93F2E;
            border-radius: 0;
            color: #fff;
            border-width: 1px;
            border-style: solid;
            border-color: #b72213;
        }

            .btn-googleplus:link, .btn-googleplus:visited {
                color: #fff;
            }

            .btn-googleplus:active, .btn-googleplus:hover {
                background: #b72213;
                color: #fff;
            }
    </style>
    <script type="text/javascript">
        $('#my-imageupload').imageupload(options);
        $('#my-imageupload').imageupload({
            allowedFormats: ['jpg'],
            maxFileSizeKb: 512
        });
        //$('#my-imageupload').imageupload('disable');
        $('#my-imageupload').imageupload('enable');
        //$('#my-imageupload').imageupload('reset');
    </script>
</head>
<body>
    <nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Account/Login">
                    <img border="0" alt="W3Schools" src="~/images/logo.jpg" width="35" height="35">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Account/Login">My Account</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div></div><br /><div></div><br /><div></div><br /><div></div><br /><div></div><div></div><div></div><div></div><br />
    <div class="container">
        <div class="panel-body" >
            <form>
                <div class="form-group" style="border:2px solid #e7fbc2;box-shadow: 0px 0px 2px 2px grey; max-width:1000px;max-height:1000px; min-height:1000px" >
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <h2>Submit a Free Classified Ad</h2><hr />
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <label for="inputEmail">
                                Ad Title<span style="color:red">*</span>
                            </label>
                            <input type="text" class="form-control" id="inputEmail" placeholder="Enter Title"><span>70 characters left</span>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <label for="inputPassword">Category<span style="color:red">*</span></label>
                            <select class="form-control">
                                <option value=""></option>
                            </select><hr />
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <label for="inputPassword">Ad Description<span style="color:red">*</span></label>
                            <textarea name="Text1" class="form-control" cols="20" rows="3"></textarea><span>4096 characters left</span>
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <label for="inputName">
                                Name<span style="color:red">*</span>
                            </label>
                            <input type="text" class="form-control"><hr />
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <label for="inputName">
                                Name<span style="color:red">*</span>
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <label for="inputName">
                                Phone number<span style="color:red">*</span>
                            </label>
                            <input type="number" class="form-control">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <label for="inputName">
                                Enter a city<span style="color:red">*</span>
                            </label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <span>By clicking 'Submit' you agree to our <a href="/Account/UnableToLogin">Terms of Use</a> & <a href="/Account/UnableToLogin">Posting Rules</a></span><br /><hr />
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div>
            <div class="imageupload panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left">Upload Image</h3>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default active">File</button>
                        <button type="button" class="btn btn-default">URL</button>
                    </div>
                </div>
                <div class="file-tab panel-body">
                    <label class="btn btn-default btn-file">
                        <span>Browse</span>
                        <!-- The file is stored here. -->
                        <input type="file" name="image-file" id="my-imageupload">
                    </label>
                    <button type="button" class="btn btn-default">Remove</button>
                </div>
                <div class="url-tab panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Image URL">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default">Remove</button>
                    <!-- The URL is stored here. -->
                    <input type="hidden" name="image-url">
                </div>
            </div>
        </div><br />
    </div>
</body>
</html>
