
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Adventure App</title>
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="Online exchange - Aventure Application" />
    <meta property="og:title" content="Advanture App" />
    <meta property="og:description" content="Online exchange - Advanture Application" />
    
    <link rel="icon" type="image/x-icon" href="~/images/logo.jpg">
    <link rel="stylesheet" type="text/css" href="~/Content/custome/sw855e31d1e1b381c686e47e953699523f.css">
    
    @*<link rel="stylesheet" type="text/css" href="https://s2.olx.in/static/olxin/packed/sw855e31d1e1b381c686e47e953699523f.css">*@
    <link rel="stylesheet" type="text/css" href="https://s1.olx.in/static/olxin/packed/sw04d3cce508338e3a85020f55bc6037a8.css">    
</head>
<body class="">
     <div id="innerLayout">

        <header id="header-container">
            <div class="navi">
                <div class="wrapper clr rel bigwrapper">
                    <a href="/Account/Login">
                        <img border="0" alt="W3Schools" src="~/images/logo.jpg" width="100" height="100">
                    </a>

                    <div class="lang-selector small">
                        <span class="marginright5">Select language</span>
                        <ul class="breaklist inlblk">
                            <li class="inlblk">
                                <span class="x-normal">English</span>
                            </li>
                            <li class="inlblk">
                                <a class="x-normal" id="changeLang" href="https://www.olx.in/changelang/?lang=hi" data-baselink="https://www.olx.in/changelang/?lang=hi">हिंदी</a>
                            </li>
                        </ul>
                    </div>
                    <span class="slogan">India's Largest Marketplace</span>
                    <ul class="userbox fright marginleft10">
                        <li class="hidden inlblk nowrap rel vtop" id="observed-counter">
                            <a href="https://www.olx.in/observed/" class="tdnone inlblk hidden" id="observed-ads-link" title="Favorites">
                                <span class="icon inlblk favin vtop"></span>
                                <strong class="counter"></strong>
                            </a>
                            <a href="https://www.olx.in/observed/search/" class="tdnone inlblk hasObservedAds?'hidden':''}" id="observed-search-link" title="Favorites">
                                <span class="icon inlblk favin vtop"></span>
                                <strong class="counter"></strong>
                            </a>
                        </li>
                        <li class="inlblk nowrap vtop noslash" id="my-account-link">
                            <div class="inlblk rel">
                                <a href="/Account/Login"
                                   class="tdnone" id="topLoginLink">
                                    <span class="icon inlblk accountshape vtop fleft"></span>
                                    <span class="link inlblk acc-user-name fleft"><strong>My Account</strong></span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="searchbox">
                <div class="wrapper">
                    <div class="clr">
                    </div>
                </div>
            </div>
        </header>
        <section id="body-container" class="rel container">
            <div class="wrapper">
                <div class="content clr rel">
                    <form enctype="multipart/form-data" id="newOffer"
                          class="tablica55 default adding flat-style-form publish {categoriesAjaxUrl: 'https://www.olx.in/ajax/posting/categories/'}"
                          method="post" action="">

                        <div class="clr">
                            <h1 class="c000 x-large pding10 rel fleft">
                                Submit a Free Classified Ad
                            </h1>
                        </div>


                        <fieldset class="hlight brtope5">
                            <div id="title" class="fblock clr">
                                <div class="fleft label tright">
                                    <label class="validation fbold c000" for="add-title">Ad Title<span class="cc914">*</span></label>
                                </div>
                                <div class="area clr">
                                    <div class="fleft rel zi2 focusbox">
                                        <input type="text" value="" name="data[title]" class="text x-normal light br4 xxx-long2 required {maxtext:70, mintext:6}" id="add-title"> <span class="status icon vmiddle inlblk dnone">&nbsp;</span>
                                        <p class="desc ca6">
                                            <small>
                                                <b id="add-title-counter" class="counter-placeholder {forId: 'add-title'}">
                                                    70
                                                </b> characters left
                                            </small>
                                        </p>
                                        <div style="display: none" class="suggest withrightbanner abs zi3 br3">
                                            <span class="target abs icon">&nbsp;</span>
                                            <span class="suggest">
                                                <span class="suggestTitle">Want to get your ad noticed?</span>
                                                <ul class="newPostingtooltips">
                                                    <li><span>Give your ad an attractive title.</span></li>
                                                    <li><span>Think of words that people would use to search for your Ad.</span></li>
                                                    <li><span>Check the spellings and do not use CAPITAL LETTERS or symbols.</span></li>
                                                </ul>
                                            </span>
                                            <p style="display: none" class="error "></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="categories" class="fblock clr pdingright0 catSelector3">
                                <div class="fleft label tright">
                                    <label class="fbold c000">Category<span class="cc914">*</span></label>
                                </div>
                                <div class="area clr">
                                    <div class="fleft rel margintop15">
                                        <div class="table">
                                            <div id="category-breadcrumb-container" class="vmiddle">
                                                <span id="catgory-breadcrumb-text" class="color-3 fbold"></span>
                                                <div style="display: none">
                                                    <input id="category-container" type="text" name="data[category_id]" value="" />
                                                </div>
                                                <select class="dropdown light fleft"></select>
                                                <a id="choose-category-ilu" class="abs icon choosecat_ab_3 inlblk tdnone" href="javascript:void(0);" title="Select category">&nbsp;</a>
                                                <a id="choose-category-button" href="javascript:void(0);" title="Select category" class="button cfff br3 fnormal hidden">
                                                    <span>Change</span>
                                                </a>
                                                <span class="status rel icon vtop inlblk dnone margintop3">&nbsp;</span>
                                            </div>
                                        </div>
                                        <div style="display: none" class="suggest bottom abs zi2 br3">
                                            <span class="target abs icon">&nbsp;</span>
                                            <p class="suggest">Select the category which best fits your Ad</p>
                                            <p style="display: none" class="error "></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="brtope5">
                                <div id="offer-seek-div-radio" class=" fblock clr hidden">

                                    <div class="fleft label tright">
                                        <label for="id-offer-seek-radio" class="fbold c000"><span>Type of Ad</span><span class="cc914">*</span></label>
                                    </div>
                                    <div class="area clr">
                                        <div class="fleft rel focusbox">
                                            <p class="marginbott5 fleft lheight24">
                                                <input type="radio" value="offer" name="data[offer_seek]" class="do-not-validate dynamic-param x-normal light br3 {renderformOptions: 'hideChooselabel'}" id="id_offer_seek_offer">
                                                <label class="thin marginleft5" for="id_offer_seek_offer">Offering job</label>
                                                <input type="radio" value="seek" name="data[offer_seek]" class="do-not-validate dynamic-param x-normal light br3 {renderformOptions: 'hideChooselabel'}" id="id_offer_seek_seek">
                                                <label class="thin marginleft5" for="id_offer_seek_seek">Seeking job</label>
                                            </p>
                                            <span class="status icon vtop inlblk dnone margintop3"></span>
                                            <div class="suggest abs zi2 hidden br3">
                                                <span class="target abs icon">&nbsp;</span>
                                                <ul style="display: none;" class="suggest">
                                                    <li>Select proper option. Are you seeking for something or offering stuff/service</li>
                                                </ul>
                                                <p style="display: none" class="error"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- parametry START -->
                                <div id="parametersContainer">
                                </div>

                                <!-- parametry END -->
                                <div id="private-business-div" class="fblock clr hidden">
                                    <div class="fleft label tright pdingtop6">
                                        <label for="id_private_business" class="fbold c000">Private or Business<span class="cc914">*</span></label>
                                    </div>
                                    <div class="area clr">
                                        <div class="fleft rel zi2 focusbox">
                                            <select name="data[private_business]" class="required x-normal light br3 {renderformOptions: 'hideChooselabel'}" id="id_private_business">
                                                <option value="" class="chooselabel">Choose</option>
                                                <option id="priv_buss_opt_priv" value="private">Individual</option>
                                                <option id="priv_buss_opt_buss" value="business">Business</option>
                                            </select> <span class="status icon vtop inlblk dnone margintop3">&nbsp;</span>
                                            <div class="suggest abs zi2 br3" style="display: none;">
                                                <span class="target abs icon">&nbsp;</span> <span class="abs icon desc mini">&nbsp;</span>
                                                <ul style="display: none;" class="suggest">
                                                    <li>Business or Private you choose</li>
                                                </ul>
                                                <p style="display: none" class="error"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="fblock clr" id="description">
                                <div class="fleft label tright">
                                    <label class="validation fbold c000" for="add-description"><span>Ad Description</span><span class="cc914">*</span></label>
                                </div>
                                <div class="area clr">
                                    <div class="fleft rel focusbox">
                                        <textarea name="data[description]" class="x-normal light required br4 {maxtext:4096, mintext:10}" id="add-description" style="height: 120px; width: 400px; resize: none; overflow-y: hidden;"
                                                  cols="80" rows="1" placeholder="Include the brand, model, age and any included accessories."></textarea>
                                        <span class="status icon vtop inlblk dnone">&nbsp;</span>
                                        <p class="desc ca6">
                                            <small>
                                                <b class="counter-placeholder {forId: 'add-description'}">4096</b>
                                                characters left
                                            </small>
                                        </p>
                                        <div style="display: none;" class="suggest withrightbanner wide abs zi2 br3">
                                            <span class="target abs icon">&nbsp;</span>
                                            <span class="suggestTitle">Items with good description sell faster!</span>
                                            <ul class="suggest newPostingtooltips">
                                                <li><span>Include the brand, model, age and any included accessories.</span></li>
                                                <li><span>Mention the condition, features and reason for selling.</span></li>
                                                <li><span>If the item is still under warranty, mention it!</span></li>
                                                <li><span>Remember, a good description needs at least 2-3 sentences.</span></li>
                                            </ul>
                                            <ul class="suggestDefault hidden">
                                                <li><span>Include the brand, model, age and any included accessories.</span></li>
                                                <li><span>Mention the condition, features and reason for selling.</span></li>
                                                <li><span>If the item is still under warranty, mention it!</span></li>
                                                <li><span>Remember, a good description needs at least 2-3 sentences.</span></li>
                                            </ul>
                                            <ul class="newPostingtooltips pets-tips hide">
                                                <li><span>The trade of species protected under the (Indian) Wildlife Protection Act, 1972, other regulations and conventions is prohibited on the Website. Further, trade of dead animals, animals for the purposes of slaughter, fighting, racing, torture or any other form of cruelty towards animals is also not allowed.</span></li>
                                                <li><span>Please note that OLX works closely with regulators and law enforcement agencies in their investigation of illegal trade of protected species.</span></li>
                                                <li><span>Please go through our posting rules and ensure that your advertisement complies with them.</span></li>
                                            </ul>
                                            <p style="display: none" class="error"></p>
                                        </div>
                                        <div class="jobSuggestEle" style="display: none">
                                            <span class="target abs icon">&nbsp;</span>
                                            <span class="suggestTitle">Jobs with good description consider faster!</span>
                                            <ul class="suggest newPostingtooltips">
                                                <li><span>Job description should be with experience,skills</span></li>
                                                <li><span>Add job location and other relavent information</span></li>
                                            </ul>
                                            <p style="display: none" class="error"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="gallery" class="fblock clr">
                                <div class="fleft label rel tright">
                                    <a name="photos"></a>
                                    <label class="validation fbold c000">Upload Photos</label> <small class="desc block lheight14">Ads with photos <span>sell faster</span>  </small>
                                    <span class="margintop5 icon photoslabel block abs"></span>
                                </div>
                                <div class="area clr">
                                    <div class="fleft clr rel focusbox">
                                        <input type="hidden" name="data[riak_key]" id="riakKey" value="" /> <input type="hidden" id="adID"
                                                                                                                   value="" />
                                        <ul class="photos-show-mini clr">
                                            <li id="add-file-1"
                                                class="fleft empty rel first-child   {slot: 1}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-2"
                                                class="fleft empty rel    {slot: 2}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-3"
                                                class="fleft empty rel    {slot: 3}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-4"
                                                class="fleft empty rel    {slot: 4}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-5"
                                                class="fleft empty rel  hidden disabled {slot: 5}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-6"
                                                class="fleft empty rel  hidden disabled {slot: 6}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-7"
                                                class="fleft empty rel  hidden disabled {slot: 7}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-8"
                                                class="fleft empty rel  hidden disabled {slot: 8}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-9"
                                                class="fleft empty rel  hidden disabled {slot: 9}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-10"
                                                class="fleft empty rel  hidden disabled {slot: 10}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-11"
                                                class="fleft empty rel  hidden disabled {slot: 11}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                            <li id="add-file-12"
                                                class="fleft empty rel  hidden disabled {slot: 12}">
                                                <div class="br5">
                                                    <a href="javascript:void(0);" class="block" title="Add photo">
                                                        <span class="icon margin0_a rel add2 block">Add photo</span>
                                                    </a>
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="hidden">
                                            <ul id="hidden-templates">
                                                <li class="fleft with-photo br2 rel hidden" id="with-photo-template">
                                                    <div>
                                                        <a class="rotate-photo-a icon mini vis rotate abs" title="Rotate" href="#" rel="">Rotate</a>
                                                        <a class="delete-photo-a icon mini vis remove3 abs" title="Delete" href="#" rel="">Delete</a>
                                                        <img class="" src="" id="" alt="">
                                                    </div>
                                                </li>

                                                <li id="progress-loader" class="fleft empty progress rel hidden">
                                                    <div class="br5">
                                                        <span class="icon margin0_a rel progress block">Uploading</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="suggest withrightbanner photos marginleft5 abs zi2 br3" id="photo-suggest" style="display: none">
                                            <span class="target abs icon">&nbsp;</span>
                                            <span class="suggestTitle">Ads with 1-4 photos get 5x more responses!</span>
                                            <ul class="suggest newPostingtooltips">
                                                <li id="stock-photo-suggest" class="hidden">
                                                    <span>Use original photos. Avoid copying from internet.</span>
                                                    <div id="stock-photo-image"></div>
                                                </li>

                                                <li id="first-photo-suggest"><span>Ensure the item is properly visible from multiple angles</span></li>
                                                <li><span>Accepted formats are .jpg, .gif & .png. Size < 5MB.</span></li>
                                                <li><span>Ensure that the image(s) does not contain any human face.</span></li>

                                                <!--li id="first-photo-suggest">
                                                    <ul class="">											</ul>
                                                </li-->
                                                <li id="second-photo-suggest" class="hidden">
                                                    <ul class="newPostingtooltips">
                                                        <li><span>Drag and drop the picture to change its order.</span></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <p style="display: none" class="error"></p>
                                        </div>
                                    </div>
                                    <div class="fleft full rel clr marginbott15">
                                        <p id="show-gallery-li">
                                            If you have problems with flash please use<a id="show-gallery-html" href="#">simpler form</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="gallery-html" class="fblock clr hidden">
                                <div class="fleft label tright">
                                    <label class="validation fbold c000">Upload Photos</label>
                                    <small class="desc block lheight12 marginbott5 margintop5">You can upload up to 4 photos</small>
                                    <small class="block lheight12">Maximum photo size is 5 MB</small>
                                </div>
                                <div class="area clr">
                                    <div class="fblock" id="safariWarning" style="display: none;">
                                        It seems that you are using a browser "Mobile Safari" that does not support sending files. Adding pictures is not possible. We're sorry.
                                    </div>
                                    <div id="simple_form_inputs" class="overh">
                                        <div id="htmlbutton_1" class="clr marginbott2 htmlbutton ">
                                            <input type="file" name="image[1]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="1">Delete</a>
                                        </div>
                                        <div id="htmlbutton_2" class="clr marginbott2 htmlbutton ">
                                            <input type="file" name="image[2]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="2">Delete</a>
                                        </div>
                                        <div id="htmlbutton_3" class="clr marginbott2 htmlbutton ">
                                            <input type="file" name="image[3]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="3">Delete</a>
                                        </div>
                                        <div id="htmlbutton_4" class="clr marginbott2 htmlbutton ">
                                            <input type="file" name="image[4]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="4">Delete</a>
                                        </div>
                                        <div id="htmlbutton_5" class="clr marginbott2 htmlbutton hidden disabled">
                                            <input type="file" name="image[5]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="5">Delete</a>
                                        </div>
                                        <div id="htmlbutton_6" class="clr marginbott2 htmlbutton hidden disabled">
                                            <input type="file" name="image[6]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="6">Delete</a>
                                        </div>
                                        <div id="htmlbutton_7" class="clr marginbott2 htmlbutton hidden disabled">
                                            <input type="file" name="image[7]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="7">Delete</a>
                                        </div>
                                        <div id="htmlbutton_8" class="clr marginbott2 htmlbutton hidden disabled">
                                            <input type="file" name="image[8]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="8">Delete</a>
                                        </div>
                                        <div id="htmlbutton_9" class="clr marginbott2 htmlbutton hidden disabled">
                                            <input type="file" name="image[9]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="9">Delete</a>
                                        </div>
                                        <div id="htmlbutton_10" class="clr marginbott2 htmlbutton hidden disabled">
                                            <input type="file" name="image[10]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="10">Delete</a>
                                        </div>
                                        <div id="htmlbutton_11" class="clr marginbott2 htmlbutton hidden disabled">
                                            <input type="file" name="image[11]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="11">Delete</a>
                                        </div>
                                        <div id="htmlbutton_12" class="clr marginbott2 htmlbutton hidden disabled">
                                            <input type="file" name="image[12]" class="file fleft input-image ">
                                            <a href="javascript:void(0);" class="removeAttachment block rel icon mini vmiddle marginleft5 remove3" rel="12">Delete</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="data[gallery_html]" value="0" />
                                </div>
                            </div>
                        </fieldset>



                        <fieldset class="hlight-box hlight brtope5">
                            <div class="hlight-target">
                                <div class="fblock clr cloud " id="person">
                                    <div class="fleft label tright">
                                        <label for="add-person" class="validation fbold c000">Name<span class="cc914">*</span></label>
                                    </div>
                                    <div class="area clr">
                                        <div class="fleft rel focusbox">
                                            <input type="text" value="" name="data[person]" class="text x-normal light br4 required"
                                                   id="add-person">
                                            <span class="status icon vmiddle inlblk dnone">&nbsp;</span>
                                            <div style="display: none" class="suggest abs zi2 br3">
                                                <span class="target abs icon">&nbsp;</span>
                                                <ul class="suggest newPostingtooltips">
                                                    <li><span>Use your real name to build trust.</span></li>
                                                    <li><span>Do not use symbols and numbers in your name.</span></li>
                                                </ul>
                                                <p style="display: none" class="error"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="fblock clr cloud  hidden" id="email">
                                    <div class="fleft label tright">
                                        <label for="add-email" class="validation fbold c000">
                                            Email<span class="cc914">*</span>
                                        </label>
                                    </div>
                                    <div class="area clr">
                                        <div class="fleft rel focusbox">
                                            <input type="text"
                                                   value="Not available" name="data[email]"
                                                   class="text light br4 text-mail required x-normal email x-long" id="add-email">
                                            <span class="status icon vmiddle inlblk dnone">&nbsp;</span>
                                            <div style="display: none" class="suggest abs zi2 br3">
                                                <span class="target abs icon">&nbsp;</span>
                                                <ul class="suggest newPostingtooltips">
                                                    <li><span>Replies to your ad will be sent to this email.</span></li>
                                                    <li><span>It will be kept confidential.</span></li>
                                                </ul>
                                                <p style="display: none" class="error"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="fblock clr cloud " id="phone">
                                    <div class="fleft label tright">
                                        <label class="validation fbold c000" for="add-phone"> <span class="icon mini vmiddle inlblk mobile">&nbsp;</span>Phone number<span class="cc914">*</span></label>
                                    </div>
                                    <div class="area clr">
                                        <div class="fleft rel focusbox">
                                            <span class="cntrycod ">+91</span>
                                            <input type="text" autocomplete="off"
                                                   value="" name="data[phone]" class="phnum text x-normal light br4 {mintext:10, maxtext:10}" maxlength="10" id="add-phone">
                                            <span class="status icon vmiddle inlblk dnone">&nbsp;</span>
                                            <div style="display: none;" class="suggest abs zi2 br3">
                                                <span class="target abs icon">&nbsp;</span>
                                                <ul class="suggest newPostingtooltips">
                                                    <li><span>Enter your MOBILE number.</span></li>
                                                    <li><span>Do not add +91 or 0 before the number.</span></li>
                                                    <li class="pp"><span>A verification code will be sent to this MOBILE number.</span></li>
                                                    <li class="pp"><span>Verification is mandatory to post the Ad.</span></li>
                                                    <li class="pp"><span>Verification helps you sell faster and build trust with buyers!</span></li>
                                                </ul>
                                                <p style="display: none" class="error "></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </fieldset>

                        <fieldset class="hlight-box hlight" id="cityArea">
                            <div class="fblock clr cloud " id="map_address">
                                <div class="fleft label tright">
                                    <label class="validation fbold c000" for="mapAddress">Enter a city<span class="cc914">*</span></label>
                                </div>

                                <div class="area clr">
                                    <div class="clr">
                                        <div class="fleft focusbox">
                                            <div class="rel zi3">
                                                <input class="map-city" id="map-city-hidden" type="hidden" name="data[city_id]" value="" />
                                                <input name="data[city]" autocomplete='off' type="text" value="" class="geo-suggest-input x-normal text light br4 {maxtext:255} geo-suggest-adding" data-default="Pincode or city name" id="mapAddress">
                                                <input type="hidden" class="map-district" id="map-district-hidden" name="data[district_id]" value="">
                                                <input type="hidden" class="map-radius" name="data[map_radius]" value="" />
                                                <span class="status icon vmiddle inlblk dnone">&nbsp;</span>
                                                <div class="autosuggest-geo-div autosuggest-geo-adding">
                                                    <!-- via ajax -->
                                                </div>

                                                <div style="display: none;" class="suggest abs zi2 br3">
                                                    <span class="target abs icon">&nbsp;</span>
                                                    <p class="suggest">
                                                        <span class="suggestTip">Type your city name and select the matching city from the list.</span>
                                                    </p>
                                                    <p style="display: none" class="error "></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>



                        <fieldset class="hlight-box hlight hidden" id="districtsArea">
                            <div class="fblock clr cloud " id="map_address">
                                <div class="fleft label tright pding0">
                                    <label class="validation fbold c000" for="mapAddress"><div>Enter a locality (nearby)</div><div class="ca6 district_optional hidden">Optional</div></label>
                                </div>

                                <div class="area clr">
                                    <div class="clr">
                                        <div class="fleft focusbox">
                                            <div class="rel">

                                                <input class="map-district" id="map-district-hidden" type="hidden" name="data[district_id]" value="" />
                                                <input name="data[district]" autocomplete='off' type="text" value="" class="geo-suggest-input x-normal text light br4 {maxtext:255} geo-suggest-adding" data-default="zip code or district name" id="mapAddressDistrict">
                                                <span class="status icon vmiddle inlblk dnone">&nbsp;</span>
                                                <div class="autosuggest-geo-div autosuggest-geo-adding">
                                                    <!-- via ajax -->
                                                </div>

                                                <div style="display: none;" class="suggest abs zi2 br3">
                                                    <span class="target abs icon">&nbsp;</span>
                                                    <p class="suggest">
                                                        <span class="suggestTip">Type your locality name and select the matching or nearby locality from list.</span>
                                                    </p>
                                                    <p style="display: none" class="error "></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mapcontainer rel br-5 margintop20 marginbott20 marginright20" style="display: none;">
                                        <div class="locationtype abs clr zi2">
                                            <div class="fleft bgfff loc-option br3">
                                                <span class="pding0_10 fleft"><input id="loc-opt-1" class="{renderformClass:'inlblk'}" type="radio" name="loc-option" value="loc-opt-1"></span>
                                                <label for="loc-opt-1" class="opt1">accurate location</label>
                                            </div>
                                            <div class="fleft bgfff loc-option br3 marginleft7">
                                                <span class="pding0_10 fleft"><input id="loc-opt-2" class="{renderformClass:'inlblk'}" type="radio" name="loc-option" value="loc-opt-2" checked="checked"></span>
                                                <label for="loc-opt-2" class="opt2">approximate location</label>
                                            </div>
                                        </div>
                                        <div id="googlemap" class="" style="height: 360px; width: 636px;"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <fieldset>
                            <div class="hidden" id="accept">
                                <h3 class="c000 x-large pding10 rel margintop30 fbold">Agree for processing of data</h3>
                                <div class="fblock clr cloud brtope5">
                                    <div class="fleft label tright"></div>
                                    <div class="area clr margintop5">
                                        <div class="fleft rel focusbox">
                                            <input type="checkbox" id="agreement" value="1" class="fleft required margintop3 {renderformClass: 'fleft margintop3 marginright10'} do-not-validate"
                                                   name="data[accept]" /> <span class="status icon vmiddle fright dnone">&nbsp;</span>
                                            <div class="agreement-label marginleft20 marginright30">
                                                <label class="thin" for="agreement"> <strong class="cc914">*</strong> I hereby agree for processing my personal details by <a href="https://www.olx.in/terms/" title="Terms of Use" target="_blank">Terms of Use</a> OLX.in in accordance with the law. I am declaring that I am a person of full legal age										</label>
                                            </div>
                                            <div style="display: none" class="suggest abs zi2 br3 bottom">
                                                <span class="target abs icon">&nbsp;</span>
                                                <p style="display: none" class="error"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </fieldset>
                        <fieldset class="hlight-box hlight">
                            <div id="payment-wrapper" style="display: none">
                            </div>
                        </fieldset>
                        <fieldset>
                            <!--- end of payment section -->
                            <div class="fblock">
                                <div class="fleft label tright"></div>
                                <div class="area clr">
                                    <p>By clicking 'Submit' you agree to our <a target="_blank" href="https://www.olx.in/terms/">Terms of Use</a> &amp; <a href="https://www.olx.in/terms/posting/" target="_blank">Posting Rules</a></p>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="brtope5 margintop5">
                            <div class="fblock clr rel">
                                <div class="submittarget abs icon"></div>
                                <ul class="navi clr">
                                    <li class="fright submitspace">
                                        <span class="button big4 br3 large">
                                            <input type="submit" class="cfff"
                                                   value="Submit" id="save" />
                                        </span>
                                    </li>

                                    <li class="hidden fright progress">Processing</li>
                                </ul>
                            </div>
                        </fieldset>
                        <input class="map-coords" rel="zoom" type="hidden" name="data[map_zoom]"
                               value="" /> <input class="map-coords" rel="lat" type="hidden"
                                                  name="data[user_lat]" value="" /> <input class="map-coords" rel="lon"
                                                                                           type="hidden" name="data[user_lon]" value="" />


                        <input type="hidden" name="data[adding_key]" value="adding_5a2a6d3ce508b7.05727534" />
                        <input type="hidden" name="data[community]" value="" />


                    </form>
                </div>
            </div>
        </section>
        <div id="uploadError" class="pding20 hidden tcenter">
            <p class="invalid marginbott20">Error</p>
            <a href="javascript:void(0);" class="button br3 big medium cfff ok">
                <span class="margitop-1">Ok</span>
            </a>
        </div>
        <div id="dialogMessage" class="hidden tcenter">
            <div class="inner"></div>
        </div>
        <div id="photoMessage" class="hidden">

        </div>

        <footer id="footer-container">
            <div class="wrapper small bigwrapper" id="lastwrapper">
                <div class="margintop15 clr rel">
                    <div class="fleft">
                        <p>
                            <a href="https://www.olx.in" class="tdnone" title="OLX.in">
                                <span class="icon websitegray inlblk vtop">&nbsp;</span>
                            </a>
                        </p>
                    </div>
                    <div class="boxindent">
                        <div class="clr">

                            <div class="static box fleft">
                                <ul class="small lheight16">

                                    <!-- <li class="block">
                                        <a id="footerLinkMobileApps" class="link gray" title="Mobile Apps" href="https://www.olx.in/mobileapps/">
                                            <span>Mobile Apps</span>
                                        </a>
                                    </li> -->
                                    <li class="block">
                                        <a href="https://www.olx.in/sitemap/regions/" class="link gray" title="Locations Map">
                                            <span>Locations Map</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="https://www.olx.in/popular/" class="link gray" title="Popular searches">
                                            <span>Popular searches</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="https://www.olx.in/sitemap/" class="link gray" title="Sitemap">
                                            <span>Sitemap</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a class="link gray" title="Featured Ads" href="https://www.olx.in/payment/whyhighlight/">
                                            <span>Featured Ads</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="static box fleft">
                                <ul class="small lheight16">
                                    <li class="block">
                                        <a href="https://www.olx.in/terms/" class="link gray" title="Terms of Use">
                                            <span>Terms of Use</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="http://help.olx.in/hc/en-us" class="link gray" title="Help &AMP; Contact Us">
                                            <span>Help &AMP; Contact Us</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="static box fleft">

                                <li class="block">
                                    <a href="#" class="tdnone link spoiler graydot" id="footerPartners">
                                        <span class="inlblk">Who we are</span>
                                        <span class="icon mini inlblk vtop margintop6 marginleft5 down4">&nbsp;</span>
                                    </a>
                                </li>
                                <li class="block">
                                    <a href="http://joinolx.com/" target="_blank" class="tdnone link gray">
                                        <span class="inlblk">Join OLX</span>
                                    </a>
                                </li>
                                <li class="block">
                                    <a href="https://www.olx.in/testimonial/list/" class="tdnone link gray">
                                        <span class="inlblk">Happy OLXers</span>
                                    </a>
                                </li>

                            </div>
                            <div class="footerapps fright rel tcenter">
                                <a href="https://307163.measurementapi.com/serve?action=click&publisher_id=307163&site_id=108630" id="footerAppAndroid" target="_blank" class="inlblk">
                                    <span class="icon block googleplay"> in Google Play</span>
                                    <span class="tag-line tleft hidden">
                                        Get it on			<strong class="block">Google Play</strong>
                                    </span>
                                </a>
                                <a href="https://307163.measurementapi.com/serve?action=click&publisher_id=307163&site_id=108744" id="footerAppIphone" target="_blank" class="inlblk">
                                    <span class="icon block appstore"> in AppStore</span>
                                    <span class="tag-line hidden">
                                        Download on the			<strong class="block">AppStore</strong>
                                    </span>
                                </a>
                                <a href="https://www.windowsphone.com/en-in/store/app/olx-local-classifieds/97f5ba9c-fda1-4c64-85b8-00beb756426e" id="footerAppIphone" target="_blank" class="inlblk">
                                    <span class="icon block windowsstore"> in WindowsStore</span>
                                    <span class="tag-line tright hidden">
                                        Download for				<strong class="block">Windows Phone</strong>
                                    </span>
                                </a>
                                <p class="tag-line">Free mobile app for your phone</p>
                            </div>
                        </div>
                        <div class="partners box margin10_0 hidden" id="footerPartnersContainer">
                            OLX.in is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more. Submit ads for free and without creating an account. If you want to buy something - here you will find interesting items, cheaper than in the store. Start buying and selling in the most easy way on OLX.in.
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        <div id="message_system" style="display: none">
            <div class="inner">
                <div class="tleft x-normal lheight20 rel messagesystem ">
                    <p>
                        <span class="fleft icon status">&nbsp;</span>
                        <span class="msg block overh"></span>
                    </p>
                </div>
            </div>
        </div>
        <div id="dialogMessage" class="hidden">
            <div class="inner"></div>
        </div>
        <div id="saveFavDiv" class="hidden">
            <div class="inner tcenter">
                <div class="large lheight18">
                    <p class="marginbott15 margintop10 typeSearch hidden">
                        <strong>Search was added to favorites</strong>
                    </p>
                    <p class="marginbott15 margintop10 typeOffer hidden">
                        <strong>The Ad has been added to your favorites</strong>
                    </p>
                    <p class="margin5_0">Log in to save it in your My OLX account</p>
                    <p class="margintop25 marginbott25">
                        <a class="button big3 br3 circleshadow" href="https://www.olx.in/account/?origin=observepopup">
                            <span class="cfff large">Log in</span>
                        </a>
                    </p>
                    <p class="margin5_0">
                        Or <a href="https://www.olx.in/account/register/" class="link">
                            <span>Create an account to save your favorites</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="tcenter brtop-1 clr pding10">
                <p class="margin20_0 large lheight18">
                    <a href="#" class="link" onclick="$.fancybox.close(); return false;">
                        <span>No, thanks</span>
                    </a>
                </p>
            </div>
        </div>
        <div id="synchroFavDiv" class="hidden">
            <div class="inner"></div>
            <div class="tcenter brtop-1 clr pding10">
                <p class="margin10_0">
                    <a class="button big br3" href="#" id="synchronizeObservedConfirm">
                        <span class="cfff large">Save in favorites</span>
                    </a>
                </p>
                <p class="margin5_0">
                    <a href="#" class="link" id="synchronizeObservedCancel">
                        <span>No, thanks</span>
                    </a>
                </p>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="https://s2.olx.in/static/olxin/packed/sw46e8349b7014fbe6d1893b42962e37d3.js"></script>
    <script type="text/javascript" src="https://s1.olx.in/static/olxin/packed/sw37ef9758745791ddd2ffb72ca28ab5ab.js"></script>

</body>
</html>
