
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row loginform" style="max-width:970px !important;margin:auto;padding:30px;">
    <div class="col-md-5">
        <span style="color:#2B2B2B;font-weight:200;font-size:20px">Your OLX Ads</span><br />
        <span style="font-size:13px;color:#a5a5a5;font-weight:200;">can manage your Active & Inactive Ads here</span> 
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-3 account-balance">
        <div style="height:60px;width:100%;border:1px solid #dedede;border-radius:5px;">
            <span style="font-size:13px;color:#a5a5a5;font-weight:200;padding-left:15px;"> Account balance</span> 
            <ul>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle" style="font-size:24px;padding-left:15px"> <span class="fa fa-rupee" style="font-size:20px"></span>&nbsp; 0  <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="padding:0;">
                        <li><a href="#" style="color:#a5a5a5;">Credits: <span class="fa fa-rupee" ></span> 0</a></li>                       
                        <li class="divider"></li>
                        <li><a href="#" style="color:#a5a5a5;">Bonus Credits: 0 pts</a></li>
                    </ul>
                </li>
            </ul>
         
         
        </div>
    </div>
</div>
<div class="row" style="max-width:970px !important;margin:auto;padding:30px;">

    

    <div class="container"><h2>Example 3 </h2></div>
    <div id="exTab3" class="container">
        <ul class="nav nav-pills">
            <li class="active" style="border:1px solid gray">
                <a href="#1b" data-toggle="tab">Overview</a>
            </li>
            <li>
                <a href="#2b" data-toggle="tab">Using nav-pills</a>
            </li>
            <li>
                <a href="#3b" data-toggle="tab">Applying clearfix</a>
            </li>
            <li>
                <a href="#4a" data-toggle="tab">Background color</a>
            </li>
        </ul>

        <div class="tab-content clearfix">
            <div class="tab-pane active" id="1b" style="border:1px solid gray">
                <h3>Same as example 1 but we have now styled the tab's corner</h3>
            </div>
            <div class="tab-pane" id="2b">
                <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for the tab</h3>
            </div>
            <div class="tab-pane" id="3b">
                <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
            </div>
            <div class="tab-pane" id="4b">
                <h3>We use css to change the background color of the content to be equal to the tab</h3>
            </div>
        </div>
    </div>
</div>



@section Styles {
    <link href="@Url.Content("~/Content/custome/account.css")" rel="stylesheet" type="text/css" />

}