
@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>New account</title>
    <meta name="robots" content="noindex, follow" />
    
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="" />
    <meta property="og:title" content="New account" />
    <meta property="fb:app_id" content="320949351409311" />
    <meta property="og:image" content="https://s1.olx.in/static/olxin/naspersclassifieds-regional/olxsa-atlas-web-olxin/static/img/fb/fb-image200x200.png?t=17-12-07" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://olx.in" />
    <meta property="og:site_name" content="OLX.in" />
    <link rel="icon" type="image/x-icon" href="https://s2.olx.in/static/olxin/naspersclassifieds-regional/olxsa-atlas-web-olxin/static/img/favicon.ico?v=4">
    <script type="text/javascript">
	window.trackData;
		window.trackData = {"language":"en_IN","platformType":"desktop","trackPage":"registerFormStep1"};
    </script>
    <script type="text/javascript">
	<!--
	window.dataLayer = window.dataLayer || [];
	window.dataLayer.push({"cleanup": function () {
		window.dataLayer.push({"language":"en_IN","platformType":"desktop","trackPage":"registerFormStep1"});
	}});
	var ninjaTag = document.getElementById("ninja-script-tag");
	if (!ninjaTag) {
		(function () {
			"use strict";
			window.configTracking = {"siteUrl":"www.olx.in","environment":"production"};
			var script = document.createElement("script");
			script.type = "text/javascript";
			script.id = "ninja-script-tag";
			script.async = true;
			script.src = ("https:" === document.location.protocol ? "https://" : "http://") + "ninja.onap.io/ninja.js";
			(document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(script);
		}());
	}
	//-->
    </script>
    <noscript>
        <img width="1" height="1" src="https://tracking.olx-st.com/h/v2/ns-sa?siteUrl=www.olx.in&environment=production&language=en_IN&platformType=desktop&trackPage=registerFormStep1&t=1512672173" />
    </noscript>

    <script type="text/javascript">
var _adblock = true;
    </script>
    <script type="text/javascript" src=""></script>
    <link rel="stylesheet" type="text/css" href="https://s2.olx.in/static/olxin/packed/sw855e31d1e1b381c686e47e953699523f.css">
    <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="https://s1.olx.in/static/olxin/packed/swd59215f533aa2c2d172b1a7bac1025ec.css">
    <![endif]-->
    <script type="text/javascript">
window.suggestmeyes_loaded = true;
var action='account';
var method='register';
var user_logged=0;
var www_base='https://www.olx.in';
var www_base_no_namespace='https://www.olx.in';
var www_base_ajax='https://www.olx.in/ajax';
var static_files_www_base='https://s1.olx.in/static/olxin/';
var external_static_files_www_base='https://s1.olx.in/static/olxin/naspersclassifieds-regional/olxsa-atlas-web-olxin/static/';
var external_static_files_www_base_main='https://s1.olx.in/static/olxin/naspersclassifieds-regional/olxsa-atlas-web/static/';
var session_domain='olx.in';
var site_domain='www.olx.in';
var decimal_separator='.';
var thousands_separator=',';
var sitecode='olxin';
var defaultCurrency='INR';
var config_currency='₹';
var useExternalScripts=1;
var lang='en';
var hasRwd=0;
var module_store_image_sizes_db=1;
var module_extra_description=1;
var module_deprecate_android_24=1;
var module_ninja=1;
var module_clm=1;
var module_nanigans_pixel=1;
var module_gtm_pixels=1;
var module_catch_point=1;
var module_mobile_app=1;
var module_cities_old=1;
var module_short_categories=1;
var module_zendesk=1;
var module_unconfirmed_confirmed=1;
var module_facebook_login=1;
var module_country_locator=1;
var module_fraud_contact_data=1;
var module_forceimages=1;
var module_adx_banners=1;
var module_moderated_not_edited=1;
var module_districts_large=1;
var module_cities_old_adding=1;
var module_search_rank_limited=1;
var module_allow_duplicate=1;
var module_check_abusive_words=1;
var module_adx_home_top_banner=1;
var module_dfp_banners=1;
var module_online_chat_status=1;
var module_anonymous_chat_app=1;
var module_chat_i2=1;
var module_chat_desktop=1;
var module_island_trending=1;
var module_island_interesting=1;
var module_feedsqueue_accept_automatically=1;
var module_multi_locality=1;
var module_retain_created_at=1;
var module_radial_search=1;
var module_content_widgets=1;
var module_rest_api=1;
var module_phone_posting=1;
var module_password_hashing=1;
var module_realtime_gcm_push=1;
var module_sync_facebook=1;
var module_share_ad_with_contacts=1;
var module_upsight=1;
var module_phone_visibility_setting=1;
var module_user_pic_visibility_setting=1;
var module_CSRF=1;
var module_chat_ads=1;
var module_force_upgrade=1;
var module_i2_payment=1;
var module_paidads=1;
var module_bonus_credits=1;
var module_payu_topup_module=1;
var module_adpage_promote=1;
var module_unfinished_payments=1;
var module_invoiceform=1;
var module_invoice_exporter=1;
var module_einvoice_ap_poland=1;
var module_ap_invoice_data=1;
var module_einvoice_autogeneration=1;
var module_testimonials=1;
var module_i2_interstitial=1;
var module_profile=1;
var module_i2_experiment_listing_badge=1;
var module_xss_filter=1;
var module_packages=1;
var module_parameterized_title=1;
var module_invite_friends=1;
var module_recaptcha=1;
var module_community=1;
var module_community_prelaunch=1;
var module_pushup=1;
var module_pushup_automatic=1;
var module_crm_user=1;
var module_paid_limits=1;
var module_flush_only_msite_ads=1;
var module_otp_login=1;
var module_phone_email_auth=1;
var module_public_profile=1;
var module_ad_banner_widget=1;
var module_ad_rule_widgets=1;
var module_abtest=1;
var module_googleplus=1;
var module_package_count_adjustment=1;
var module_telesales_packages=1;
var module_download_app_banner=1;
var module_hide_phone=1;
var module_sms_downloadpage=1;
var module_mandatory_registration=1;
var module_credit_list_upload=1;
var module_new_controllers=1;
var module_site_blaze=1;
var module_sms_log_in_kafka=1;
var module_freelimit_phone_check=1;
var module_kafka_apple_push=1;
var module_apolloIntegration=1;
var module_solr_cloud=1;
var module_solr_cloud_autocommit=1;
var module_hermes=1;
var module_hermes_comments_synchronization=1;
var module_ssl_only=1;
var module_S3_images=1;
var fraudsubject={"id":"25","subject_en":"Support Team :: Report Fraud","subject_hi":"\u0927\u094b\u0916\u093e\u0927\u0921\u093c\u0940 \u0930\u093f\u092a\u094b\u0930\u094d\u091f  \u0915\u0930\u0947\u0902","zendesk_tag":"in_report_fraud"};
var otherssubject={"id":"13","subject_en":"Support Team :: Others","subject_hi":"\u0938\u0939\u093e\u092f\u0924\u093e \u091f\u0940\u092e","zendesk_tag":"in_support_team"};
function __(txt) {
	if (typeof translations == 'object') {
		if (translations[txt] == undefined) {
			return txt;
		} else {
			return translations[txt];
		}
	}
	return txt;
}
    </script>
    <!--[if lt IE 9]><script type="text/javascript" src="https://s2.olx.in/static/olxin/naspersclassifieds-shared/atlas-web-framework/static/js/scripts/html5shiv.min.js"></script><![endif]-->

    <script type='text/javascript'>
        var  googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
        (function(){ var gads = document.createElement('script');
            gads.async = true; gads.type = 'text/javascript';
            var useSSL = 'https:' == document.location.protocol;
            gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
            var node = document.getElementsByTagName('script')[0];
            node.parentNode.insertBefore(gads, node);
        })();
    </script>
    <script type="text/javascript">
            googletag.cmd.push(function() {
                                googletag.pubads().enableSingleRequest();
                //googletag.pubads().enableAsyncRendering();
                googletag.pubads().collapseEmptyDivs(true);
                googletag.enableServices();
            });
    </script>
</head>
<body class="accountview">
    <script type="text/javascript">
    var csrf_token_name ="csrf_token";
    var csrf_token_value ="599ad065b5";
    if(document.addEventListener){
        document.addEventListener('submit', function (event) {
            var form = event.target;
            addCSRFToken(form);
        },true);
    } else if (document.attachEvent) {
        elem.attachEvent('onsubmit', function (event) {
            var form = event.target;
            addCSRFToken(form);
        });
    }

    function fakeSubmit(event) {
        var target = event ? event.target : this;
        addCSRFToken(target);
        this._submit();
    }

    function addCSRFToken(element) {
        if(element && element.nodeName === 'FORM' && window.csrf_token_name && window.csrf_token_value) {
            if(!element.querySelector("[name="+window.csrf_token_name+"]")) {
                var hiddenToken = document.createElement('input');
                hiddenToken.type = 'hidden';
                hiddenToken.value = window.csrf_token_value;
                hiddenToken.name = window.csrf_token_name;
                element.appendChild(hiddenToken);
            } else {
                element.querySelector("[name="+window.csrf_token_name+"]").value = window.csrf_token_value;
            }
        }
    }

    if(window.HTMLElement) {
        /* DOM-compliant Browsers */
        HTMLFormElement.prototype._submit = HTMLFormElement.prototype.submit;
        HTMLFormElement.prototype.submit = fakeSubmit;
    }

    if (document.getElementsByTagName) {

        var inputElements = document.getElementsByTagName('input');

        for (i=0; inputElements[i]; i++) {

            if (inputElements[i].className && (inputElements[i].className.indexOf('disableAutoComplete') != -1)) {

                inputElements[i].setAttribute('autocomplete','off');

            }

        }

    }

    </script>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-K8TJRJ"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
(function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start':
                        new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-K8TJRJ');</script>
    <!-- End Google Tag Manager -->





    <div id="innerLayout">

        <header id="header-container">
            <div class="navi">
                <div class="wrapper clr rel bigwrapper">
                    <a href="https://www.olx.in" id="headerLogo" class="abs icon website big" title="Free classifieds in India, Classified ads in India, Online Classified Advertising">Free classifieds in India, Classified ads in India, Online Classified Advertising</a>
                    <a href="https://www.olx.in/newolx/" class="icon prevpagelanding"></a>

                    <a id="postNewAdLink" class="postnewlink fbold tdnone" href="https://www.olx.in/posting/">
                        <span>Submit a Free Ad</span>
                    </a>
                    <div class="lang-selector small">
                        <span class="marginright5">Select language</span>
                        <ul class="breaklist inlblk">
                            <li class="inlblk">
                                <span class="x-normal">English</span>
                            </li>
                            <li class="inlblk">
                                <a class="x-normal" id="changeLang" href="https://www.olx.in/changelang/?lang=hi" data-baselink="https://www.olx.in/changelang/?lang=hi">हिंदी</a>
                            </li>
                        </ul>
                    </div>
                    <span class="slogan">India's Largest Marketplace</span>
                    <script type="text/javascript">
	observedNC = [];
	observedNC['ads'] = [];
	observedNC['searches'] = [];
	observedNC['toSynchronize'] = '';
                    </script>
                    <ul class="userbox fright marginleft10">
                        <li class="hidden inlblk nowrap rel vtop" id="observed-counter">
                            <a href="https://www.olx.in/observed/" class="tdnone inlblk hidden" id="observed-ads-link" title="Favorites">
                                <span class="icon inlblk favin vtop"></span>
                                <strong class="counter"></strong>
                            </a>
                            <a href="https://www.olx.in/observed/search/" class="tdnone inlblk hasObservedAds?'hidden':''}" id="observed-search-link" title="Favorites">
                                <span class="icon inlblk favin vtop"></span>
                                <strong class="counter"></strong>
                            </a>
                        </li>
                        <li class="inlblk nowrap vtop noslash" id="my-account-link">
                            <div class="inlblk rel">
                                <a href="/Account/Login"
                                   class="tdnone" id="topLoginLink">
                                    <span class="icon inlblk accountshape vtop fleft"></span>
                                    <span class="link inlblk acc-user-name fleft"><strong>My Account</strong></span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="searchbox">
                <div class="wrapper">
                    <div class="clr pding10_0"></div>
                </div>
            </div>
        </header>    <section id="body-container">
            <div class="wrapper">
                <div class="content clr rel">
                    <div class="stuffed">
                        <h2 class="large fbold c62 marginbott10">Register</h2>
                        <div class="halfgrid bre3 br4 access accessbox">
                            <form class="default access type2" action="" id="mainForm" method="post">
                                <fieldset>
                                    <legend></legend>
                                    <div class="clr">
                                        <div class="fleft half">
                                            <div class="inner">

                                                <div class="fblock clr" id="emailDiv">
                                                    <div class="label fleft c000 fbold tright">
                                                        <label for="userEmail">Phone<em class="cc914">*</em></label>
                                                    </div>
                                                    <div class="area clr">
                                                        <div class="fleft rel focusbox smallshadow">
                                                            <input type="text" maxlength="10" value="" class="light br3 hide-dropdown" id="userEmail" name="register[phone]">
                                                            <span class="status icon vmiddle inlblk dnone"></span>
                                                            <p class="desc errorboxContainer">
                                                                <small>Enter your phone no</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="fblock clr" id="pass1Div">
                                                    <div class="label fleft c000 fbold tright">
                                                        <label for="userPass">Password<em class="cc914">*</em></label>
                                                    </div>
                                                    <div class="area clr">
                                                        <div class="fleft rel focusbox smallshadow">
                                                            <input type="password" autocomplete="off" value="" class="light br3" id="userPass" name="register[password]">
                                                            <span class="status icon vmiddle inlblk dnone"></span>
                                                            <p class="desc errorboxContainer">
                                                                <small> Enter your password</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="fblock clr" id="user-name">
                                                    <div class="label fleft c000 fbold tright">
                                                        <label for="userPass-repeat">Name<em class="cc914">*</em> </label>
                                                    </div>
                                                    <div class="area clr">
                                                        <div class="fleft rel focusbox smallshadow">
                                                            <input type="text" value="" class="light br3" id="userPass-repeat" name="register[person]">
                                                            <span class="status icon vmiddle inlblk dnone"></span>
                                                            <p class="desc errorboxContainer">
                                                                <small id="se_userPass-repeatErr">Enter Name</small>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="fleft half">
                                            <div class="inner bre3 brtop0 brbottom0 brright0">
                                                <p>By registering, you get access to <strong>My Account</strong> where you can:</p>
                                                <ul class="c62 points">
                                                    <li>
                                                        <span class="icon inlblk point vmiddle"><span></span></span>Manage your Ads (Edit, Delete, Upgrade)
                                                    </li>
                                                    <li>
                                                        <span class="icon inlblk point vmiddle"><span></span></span>Check responses to your Ads
                                                    </li>
                                                    <li>
                                                        <span class="icon inlblk point vmiddle"><span></span></span>Track payments
                                                    </li>
                                                    <li>
                                                        <span class="icon inlblk point vmiddle"><span></span></span>Manage your settings
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inner">
                                        <div class="fblock margintop20 clr">
                                            <div class="label fleft c000 fbold tright"></div>
                                            <div class="area">
                                                <div class="rel focusbox smallshadow">
                                                    <p>
                                                        <input type="checkbox" id="acceptCheck" name="register[rules]" checked= checked><strong class="cc914">*</strong>
                                                        <label for="acceptCheck" class="thin">
                                                            By registering on OLX, you accept our <a href="https://www.olx.in/terms/" title="Terms of Use" target="_blank">Terms of Use</a>.
                                                        </label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="fblock">
                                            <div class="label fleft c000 fbold tright"></div>
                                            <div class="area clr margintop15">
                                                <p>
                                                    <span class="button big br3 large"><input type="submit" class="cfff" value="Register" id="se_userSignIn"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer id="footer-container">
            <div class="wrapper small bigwrapper" id="lastwrapper">
                <div class="margintop15 clr rel">
                    <div class="fleft">
                        <p>
                            <a href="https://www.olx.in" class="tdnone" title="OLX.in">
                                <span class="icon websitegray inlblk vtop">&nbsp;</span>
                            </a>
                        </p>
                    </div>
                    <div class="boxindent">
                        <div class="clr">

                            <div class="static box fleft">
                                <ul class="small lheight16">

                                    <!-- <li class="block">
                                        <a id="footerLinkMobileApps" class="link gray" title="Mobile Apps" href="https://www.olx.in/mobileapps/">
                                            <span>Mobile Apps</span>
                                        </a>
                                    </li> -->
                                    <li class="block">
                                        <a href="https://www.olx.in/sitemap/regions/" class="link gray" title="Locations Map">
                                            <span>Locations Map</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="https://www.olx.in/popular/" class="link gray" title="Popular searches">
                                            <span>Popular searches</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="https://www.olx.in/sitemap/" class="link gray" title="Sitemap">
                                            <span>Sitemap</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a class="link gray" title="Featured Ads" href="https://www.olx.in/payment/whyhighlight/">
                                            <span>Featured Ads</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="static box fleft">
                                <ul class="small lheight16">
                                    <li class="block">
                                        <a href="https://www.olx.in/terms/" class="link gray" title="Terms of Use">
                                            <span>Terms of Use</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="http://help.olx.in/hc/en-us" class="link gray" title="Help &AMP; Contact Us">
                                            <span>Help &AMP; Contact Us</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="static box fleft">

                                <li class="block">
                                    <a href="#" class="tdnone link spoiler graydot" id="footerPartners">
                                        <span class="inlblk">Who we are</span>
                                        <span class="icon mini inlblk vtop margintop6 marginleft5 down4">&nbsp;</span>
                                    </a>
                                </li>
                                <li class="block">
                                    <a href="http://joinolx.com/" target="_blank" class="tdnone link gray">
                                        <span class="inlblk">Join OLX</span>
                                    </a>
                                </li>
                                <li class="block">
                                    <a href="https://www.olx.in/testimonial/list/" class="tdnone link gray">
                                        <span class="inlblk">Happy OLXers</span>
                                    </a>
                                </li>

                            </div>
                            <div class="footerapps fright rel tcenter">
                                <a href="https://307163.measurementapi.com/serve?action=click&publisher_id=307163&site_id=108630" id="footerAppAndroid" target="_blank" class="inlblk">
                                    <span class="icon block googleplay"> in Google Play</span>
                                    <span class="tag-line tleft hidden">
                                        Get it on			<strong class="block">Google Play</strong>
                                    </span>
                                </a>
                                <a href="https://307163.measurementapi.com/serve?action=click&publisher_id=307163&site_id=108744" id="footerAppIphone" target="_blank" class="inlblk">
                                    <span class="icon block appstore"> in AppStore</span>
                                    <span class="tag-line hidden">
                                        Download on the			<strong class="block">AppStore</strong>
                                    </span>
                                </a>
                                <a href="https://www.windowsphone.com/en-in/store/app/olx-local-classifieds/97f5ba9c-fda1-4c64-85b8-00beb756426e" id="footerAppIphone" target="_blank" class="inlblk">
                                    <span class="icon block windowsstore"> in WindowsStore</span>
                                    <span class="tag-line tright hidden">
                                        Download for				<strong class="block">Windows Phone</strong>
                                    </span>
                                </a>
                                <p class="tag-line">Free mobile app for your phone</p>
                            </div>
                        </div>
                        <div class="partners box margin10_0 hidden" id="footerPartnersContainer">
                            OLX.in is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more. Submit ads for free and without creating an account. If you want to buy something - here you will find interesting items, cheaper than in the store. Start buying and selling in the most easy way on OLX.in.
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        <div id="message_system" style="display: none">
            <div class="inner">
                <div class="tleft x-normal lheight20 rel messagesystem ">
                    <p>
                        <span class="fleft icon status">&nbsp;</span>
                        <span class="msg block overh"></span>
                    </p>
                </div>
            </div>
        </div>
        <div id="dialogMessage" class="hidden">
            <div class="inner"></div>
        </div>
        <div id="saveFavDiv" class="hidden">
            <div class="inner tcenter">
                <div class="large lheight18">
                    <p class="marginbott15 margintop10 typeSearch hidden">
                        <strong>Search was added to favorites</strong>
                    </p>
                    <p class="marginbott15 margintop10 typeOffer hidden">
                        <strong>The Ad has been added to your favorites</strong>
                    </p>
                    <p class="margin5_0">Log in to save it in your My OLX account</p>
                    <p class="margintop25 marginbott25">
                        <a class="button big3 br3 circleshadow" href="https://www.olx.in/account/?origin=observepopup">
                            <span class="cfff large">Log in</span>
                        </a>
                    </p>
                    <p class="margin5_0">
                        Or <a href="https://www.olx.in/account/register/" class="link">
                            <span>Create an account to save your favorites</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="tcenter brtop-1 clr pding10">
                <p class="margin20_0 large lheight18">
                    <a href="#" class="link" onclick="$.fancybox.close(); return false;">
                        <span>No, thanks</span>
                    </a>
                </p>
            </div>
        </div>
        <div id="synchroFavDiv" class="hidden">
            <div class="inner"></div>
            <div class="tcenter brtop-1 clr pding10">
                <p class="margin10_0">
                    <a class="button big br3" href="#" id="synchronizeObservedConfirm">
                        <span class="cfff large">Save in favorites</span>
                    </a>
                </p>
                <p class="margin5_0">
                    <a href="#" class="link" id="synchronizeObservedCancel">
                        <span>No, thanks</span>
                    </a>
                </p>
            </div>
        </div>

    </div>
    <script type="text/javascript">
    </script>
    <script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-137146-4']);
			_gaq.push(['_setDomainName', '.olx.in']);
			_gaq.push(['_trackPageview']);

			(function(){
			 var ga, s;
			 if ( !_adblock ) {
				 ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				 ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
				 s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 } else {
				 ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				 s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			 }})();
    </script>




    <script type="text/javascript">
	<!--
	xtnv = document;
	xtsd = "https://LOGws1307"
	xtsite = "522842";
	xtcustom = {"page_name":"registration","action_type":"registration","user_status":"unlogged_user"};
	//-->
    </script>
    <noscript>
        <img width="1" height="1" alt="" src="https://LOGws1307.ati-host.net/hit.xiti?s=522842&stc={" page_name":"registration","action_type":"registration","user_status":"unlogged_user"}">
    </noscript>

    <script type="text/javascript" src="https://s2.olx.in/static/olxin/packed/sw46e8349b7014fbe6d1893b42962e37d3.js"></script>
    <script type="text/javascript" src="https://s2.olx.in/static/olxin/packed/sw6d7bdf006062b9e94f7f2bda735c2a87.js"></script>
    <script type="text/javascript">
			$(function(){
				if(typeof GoogleObj != 'undefined') {
					setTimeout(function() {
						var conversions = GoogleObj.getConversions();
						for(k in conversions) {
							var data = conversions[k];
							window['google_conversion_id'] = data.id;
							window['google_conversion_language'] = data.language;
							window['google_conversion_format'] = data.format;
							window['google_conversion_color'] = data.color;
							window['google_conversion_label'] = data.label;
							window['google_conversion_value'] = data.value;
							oldWrite = document.write;
							document.write = (function(params)
							{
								$(document.body).append(params);
							});
					$.getScript(document.location.protocol + "//www.googleadservices.com/pagead/conversion.js", function(){
						document.write = oldWrite;
					});
						}
					}, 10);
				};

				if(typeof GoogleObj != 'undefined') {
					setTimeout(function() {
						var adsDetails = GoogleObj.getAdsDetails();
						if(typeof adsDetails[0] != 'undefined') {
							GoogleObj.loadGoogleAds(adsDetails[0]);
						}
					}, 100);
				}
			});
    </script>

    <!-- Google Plus Snipet-->
    <a href="https://plus.google.com/113395767313404239895" rel="publisher"></a>			<!-- Begin comScore Tag -->
    <script>
	  var _comscore = _comscore || [];
	  _comscore.push({ c1: "2", c2: "6035490" });
	  (function() {
	    var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
	    s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
	    el.parentNode.insertBefore(s, el);
	  })();
    </script>
    <noscript>
        <img src="http://b.scorecardresearch.com/p?c1=2&c2=6035490&cv=2.0&cj=1" />
    </noscript>
    <!-- End comScore Tag -->   			    <!--APP R3NDR www.olx.in--><!--B4CK3ND OK-->
    <script type="text/javascript">
//<![CDATA[
(function() {
var uz = document.createElement('script'); uz.type = 'text/javascript'; uz.async = true; uz.charset = 'utf-8';
uz.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn4.userzoom.com/files/js/QzMyOFQz.js?t=uz_til&cuid=3020E1BF5332E2119DA70022196C4538';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uz, s);
})();
//]]></script>
    <script type="text/javascript">
					window.dataLayer = window.dataLayer || [];
					window.dataLayer.push({"call": "samurai"});
    </script>
    <script type="text/javascript">
        function NaniPixel(visit,type,extraJson){
            //Not to call on dev/local servers.
            try{
            if(!useExternalScripts)
                return;
                                var naniDataJson=xtcustom;
                                var userid="",catid="";
                //Fetch userid and category.
                if(typeof(naniDataJson)!='undefined'){

                    if(typeof(naniDataJson["user_id"])!='undefined' )
                        userid=naniDataJson["user_id"]?naniDataJson["user_id"]:"";
                    if(typeof(naniDataJson["subcategory"])!='undefined')
                        catid=naniDataJson["subcategory"]?naniDataJson["subcategory"]:"";
                    if(catid=="" && typeof(naniDataJson["category"])!='undefined')
                        catid=naniDataJson["category"]?naniDataJson["category"]:"";

                }
                if(typeof(extraJson["category"])=="undefined")
                        extraJson["category"]="";

                if(catid && !extraJson["category"])
                    extraJson["category"]=catid;

                window.NaN_api = [ [89499,userid], [visit, type,null,extraJson]];
                //Inject nanigan pixel on page.
                (function() { var s = document.createElement('script'); s.async = true; s.src = '//cdn.nanigans.com/NaN_tracker.js'; var h = document.getElementsByTagName('head')[0]; h.appendChild(s); })();
            }catch(ex){}
            }
            //To be called on call pages.
                        NaniPixel("visit","landing",{});

    </script>

</body>
</html>
<!-- wrk-04 -->

