
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>New password</title>
    <meta name="robots" content="noindex, follow" />
    
    <meta http-equiv="Content-Language" content="en" />
    <meta name="description" content="" />
    <meta property="og:title" content="New password" />
    <link rel="icon" type="image/x-icon" href="~/images/logo.jpg">
    <link rel="stylesheet" type="text/css" href="~/Content/custome/sw855e31d1e1b381c686e47e953699523f.css">
    @*<link rel="stylesheet" type="text/css" href="https://s2.olx.in/static/olxin/packed/sw855e31d1e1b381c686e47e953699523f.css">*@
    
</head>
<body class="accountview">
       <div id="innerLayout">

        <header id="header-container">
            <div class="navi">
                <div class="wrapper clr rel bigwrapper">
                    @*<a href="https://www.olx.in" id="headerLogo" class="abs icon website big" title="Free classifieds in India, Classified ads in India, Online Classified Advertising">Free classifieds in India, Classified ads in India, Online Classified Advertising</a>
                    <a href="https://www.olx.in/newolx/" class="icon prevpagelanding"></a>

                    <a id="postNewAdLink" class="postnewlink fbold tdnone" href="https://www.olx.in/posting/">
                        <span>Submit a Free Ad</span>
                    </a>*@
                    <a href="/Account/Login">
                        <img border="0" alt="W3Schools" src="~/images/logo.jpg" width="100" height="100">
                    </a>

                    <a id="postNewAdLink" class="postnewlink fbold tdnone" href="/Posting/FreeAdd">
                        <span>Submit a Free Ad</span>
                    </a>
                    <div class="lang-selector small">
                        <span class="marginright5">Select language</span>
                        <ul class="breaklist inlblk">
                            <li class="inlblk">
                                <span class="x-normal">English</span>
                            </li>
                            <li class="inlblk">
                                <a class="x-normal" id="changeLang" href="https://www.olx.in/changelang/?lang=hi" data-baselink="https://www.olx.in/changelang/?lang=hi">हिंदी</a>
                            </li>
                        </ul>
                    </div>
                    <span class="slogan">India's Largest Marketplace</span>
                    
                    <ul class="userbox fright marginleft10">
                        <li class="hidden inlblk nowrap rel vtop" id="observed-counter">
                            <a href="https://www.olx.in/observed/" class="tdnone inlblk hidden" id="observed-ads-link" title="Favorites">
                                <span class="icon inlblk favin vtop"></span>
                                <strong class="counter"></strong>
                            </a>
                            <a href="https://www.olx.in/observed/search/" class="tdnone inlblk hasObservedAds?'hidden':''}" id="observed-search-link" title="Favorites">
                                <span class="icon inlblk favin vtop"></span>
                                <strong class="counter"></strong>
                            </a>
                        </li>
                        <li class="inlblk nowrap vtop noslash" id="my-account-link">
                            <div class="inlblk rel">
                                <a href="/Account/Login"
                                   class="tdnone" id="topLoginLink">
                                    <span class="icon inlblk accountshape vtop fleft"></span>
                                    <span class="link inlblk acc-user-name fleft"><strong>My Account</strong></span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="searchbox">
                <div class="wrapper">
                    <div class="clr pding10_0"></div>
                </div>
            </div>
        </header>    <section id="body-container">
            <div class="wrapper">
                <div class="content clr rel ">
                    <div class="stuffed">
                        <div class="accessgrid br4">
                            <h2 class="large fbold c62 marginbott10">Reset Your Account Password</h2>
                            <div class="accessbox bre3 br4 rel">
                                <div class="inner">
                                    <form class="default access change-password type3 margintop30 pdingbott30" action="" id="mainForm" method="post">
                                        <fieldset class="rel">
                                            <div style="display: none" class="suggest errorbox-container abs zi2 br3">
                                                <span class="target abs icon"></span>
                                                <ul class="suggest">
                                                    <li class="rel margin5_0">
                                                        <span class="abs icon info3"></span>
                                                    </li>
                                                </ul>
                                                <p style="display: none" class="error "></p>
                                            </div>


                                            <div class="fblock clr">
                                                <div class="label fleft c000 fbold tright">
                                                    <label for="userEmail">Email or Phone <em class="cc914">*</em></label>
                                                </div>
                                                <div class="area clr">
                                                    <div class="focusbox fleft rel smallshadow">
                                                        <div class="clr">
                                                            <input type="text" value="" class="light bgf4 br3" id="userEmail" name="register[email_phone]">
                                                            <span class="status icon vmiddle inlblk dnone"></span>
                                                        </div>
                                                        <p class="desc errorboxContainer">
                                                            <small>Enter your email or phone </small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="fblock">
                                                <div class="label fleft c000 fbold tright"></div>
                                                <div class="area clr">
                                                    <p>
                                                        <span class="button br3 large big"><input type="submit" class="cfff" value="Submit" id="se_userSignIn"></span>
                                                    </p>
                                                </div>
                                            </div>
                                        </fieldset>
                                        <input type="hidden" name="register[rules]" value=1 />
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="footer-container">
            <div class="wrapper small bigwrapper" id="lastwrapper">
                <div class="margintop15 clr rel">
                    <div class="fleft">
                        <p>
                            <a href="https://www.olx.in" class="tdnone" title="OLX.in">
                                <span class="icon websitegray inlblk vtop">&nbsp;</span>
                            </a>
                        </p>
                    </div>
                    <div class="boxindent">
                        <div class="clr">

                            <div class="static box fleft">
                                <ul class="small lheight16">

                                    <!-- <li class="block">
                                        <a id="footerLinkMobileApps" class="link gray" title="Mobile Apps" href="https://www.olx.in/mobileapps/">
                                            <span>Mobile Apps</span>
                                        </a>
                                    </li> -->
                                    <li class="block">
                                        <a href="https://www.olx.in/sitemap/regions/" class="link gray" title="Locations Map">
                                            <span>Locations Map</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="https://www.olx.in/popular/" class="link gray" title="Popular searches">
                                            <span>Popular searches</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="https://www.olx.in/sitemap/" class="link gray" title="Sitemap">
                                            <span>Sitemap</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a class="link gray" title="Featured Ads" href="https://www.olx.in/payment/whyhighlight/">
                                            <span>Featured Ads</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="static box fleft">
                                <ul class="small lheight16">
                                    <li class="block">
                                        <a href="https://www.olx.in/terms/" class="link gray" title="Terms of Use">
                                            <span>Terms of Use</span>
                                        </a>
                                    </li>
                                    <li class="block">
                                        <a href="http://help.olx.in/hc/en-us" class="link gray" title="Help &AMP; Contact Us">
                                            <span>Help &AMP; Contact Us</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="static box fleft">

                                <li class="block">
                                    <a href="#" class="tdnone link spoiler graydot" id="footerPartners">
                                        <span class="inlblk">Who we are</span>
                                        <span class="icon mini inlblk vtop margintop6 marginleft5 down4">&nbsp;</span>
                                    </a>
                                </li>
                                <li class="block">
                                    <a href="http://joinolx.com/" target="_blank" class="tdnone link gray">
                                        <span class="inlblk">Join OLX</span>
                                    </a>
                                </li>
                                <li class="block">
                                    <a href="https://www.olx.in/testimonial/list/" class="tdnone link gray">
                                        <span class="inlblk">Happy OLXers</span>
                                    </a>
                                </li>

                            </div>
                            <div class="footerapps fright rel tcenter">
                                <a href="https://307163.measurementapi.com/serve?action=click&publisher_id=307163&site_id=108630" id="footerAppAndroid" target="_blank" class="inlblk">
                                    <span class="icon block googleplay"> in Google Play</span>
                                    <span class="tag-line tleft hidden">
                                        Get it on			<strong class="block">Google Play</strong>
                                    </span>
                                </a>
                                <a href="https://307163.measurementapi.com/serve?action=click&publisher_id=307163&site_id=108744" id="footerAppIphone" target="_blank" class="inlblk">
                                    <span class="icon block appstore"> in AppStore</span>
                                    <span class="tag-line hidden">
                                        Download on the			<strong class="block">AppStore</strong>
                                    </span>
                                </a>
                                <a href="https://www.windowsphone.com/en-in/store/app/olx-local-classifieds/97f5ba9c-fda1-4c64-85b8-00beb756426e" id="footerAppIphone" target="_blank" class="inlblk">
                                    <span class="icon block windowsstore"> in WindowsStore</span>
                                    <span class="tag-line tright hidden">
                                        Download for				<strong class="block">Windows Phone</strong>
                                    </span>
                                </a>
                                <p class="tag-line">Free mobile app for your phone</p>
                            </div>
                        </div>
                        <div class="partners box margin10_0 hidden" id="footerPartnersContainer">
                            OLX.in is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more. Submit ads for free and without creating an account. If you want to buy something - here you will find interesting items, cheaper than in the store. Start buying and selling in the most easy way on OLX.in.
                        </div>
                    </div>

                </div>
            </div>
        </footer>
        <div id="message_system" style="display: none">
            <div class="inner">
                <div class="tleft x-normal lheight20 rel messagesystem ">
                    <p>
                        <span class="fleft icon status">&nbsp;</span>
                        <span class="msg block overh"></span>
                    </p>
                </div>
            </div>
        </div>
        <div id="dialogMessage" class="hidden">
            <div class="inner"></div>
        </div>
        <div id="saveFavDiv" class="hidden">
            <div class="inner tcenter">
                <div class="large lheight18">
                    <p class="marginbott15 margintop10 typeSearch hidden">
                        <strong>Search was added to favorites</strong>
                    </p>
                    <p class="marginbott15 margintop10 typeOffer hidden">
                        <strong>The Ad has been added to your favorites</strong>
                    </p>
                    <p class="margin5_0">Log in to save it in your My OLX account</p>
                    <p class="margintop25 marginbott25">
                        <a class="button big3 br3 circleshadow" href="https://www.olx.in/account/?origin=observepopup">
                            <span class="cfff large">Log in</span>
                        </a>
                    </p>
                    <p class="margin5_0">
                        Or <a href="https://www.olx.in/account/register/" class="link">
                            <span>Create an account to save your favorites</span>
                        </a>
                    </p>
                </div>
            </div>
            <div class="tcenter brtop-1 clr pding10">
                <p class="margin20_0 large lheight18">
                    <a href="#" class="link" onclick="$.fancybox.close(); return false;">
                        <span>No, thanks</span>
                    </a>
                </p>
            </div>
        </div>
        <div id="synchroFavDiv" class="hidden">
            <div class="inner"></div>
            <div class="tcenter brtop-1 clr pding10">
                <p class="margin10_0">
                    <a class="button big br3" href="#" id="synchronizeObservedConfirm">
                        <span class="cfff large">Save in favorites</span>
                    </a>
                </p>
                <p class="margin5_0">
                    <a href="#" class="link" id="synchronizeObservedCancel">
                        <span>No, thanks</span>
                    </a>
                </p>
            </div>
        </div>

    </div>        
    <script type="text/javascript" src="https://s2.olx.in/static/olxin/packed/sw46e8349b7014fbe6d1893b42962e37d3.js"></script>
    <script type="text/javascript" src="https://s1.olx.in/static/olxin/packed/sw512f6d8b6c1941357de4c07a2ed822f4.js"></script>
  

</body>
</html>
<!-- wrk-28 -->

