
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wraper">

    <div class="col-md-3" style="background-color:#f8f8f8;padding:0">
        <ul class="nav nav-pills nav-stacked">
            
            <li style="padding-top:20px;"><span style="padding:30px 0px 5px 15px">Main categories</span></li>
            <li><a href="#">All Ads</a></li>
            
        </ul>
        <hr />
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Properties</a></li>
            <li><a href="#">Cars</a></li>
            <li><a href="#">Electronics & Appliances</a></li>
            <li><a href="#">Furniture</a></li>
            <li><a href="#">Jobs</a></li>
            <li><a href="#">Mobiles</a></li>
            <li ><a href="#">Bikes</a></li>
            <li><a href="#">Books, Sports & Hobbies</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Pets</a></li>
            <li><a href="#">Services</a></li>
            
        </ul>

    </div>
    <div class="col-md-9" style="padding:10px;">
        <div class="col-md-12" style="background-color:#fbfaae;padding:12px 16px 10px;border-radius:5px">
            <a href="#" class="location-header" style="text-decoration:none;"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;All India</a> <span class="location-header-caption">(Select your city to see local ads)</span> 
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3 col-xs-6 col-sm-6" style="padding-top:25px;height:120px;">
                    <div class="category-item-main">
                        <i class="fa fa-home" aria-hidden="true" style="font-size:56px;color:#b3b300"></i>
                    </div>
                </div>
                <div class="col-md-9 col-xs-6 col-sm-6" style="padding-top:35px;height:120px">
                    <div><span class="category-item-main-name">Properties</span></div>
                    <div><span class="category-item-main-count">3,07,708 Ads</span></div>
                    <div><a href="#" style="text-decoration:none;color:#2965be">View all Ads >></a></div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2 col-xs-6 col-sm-6">
                    <div class="category-item-sub" >
                        <i class="fa fa-home" aria-hidden="true" style="font-size:56px;color:#b3b300"></i><br />
                        <span>For Rent</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6 col-sm-6">
                    <div class="category-item-sub">
                        <i class="fa fa-home" aria-hidden="true" style="font-size:56px;color:#b3b300"></i><br />
                        <span>For Sale</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6 col-sm-6">
                    <div class="category-item-sub">
                        <i class="fa fa-home" aria-hidden="true" style="font-size:56px;color:#b3b300"></i><br />
                        <span>For Rent</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6 col-sm-6">
                    <div class="category-item-sub">
                        <i class="fa fa-home" aria-hidden="true" style="font-size:56px;color:#b3b300"></i><br />
                        <span>For Rent</span>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 col-sm-6">
                  
                </div>
            
            </div>
        </div>
    </div>
    

</div>

@section Styles{
<link href="@Url.Content("~/Content/custome/home.css")" rel="stylesheet" type="text/css" /> 
}