
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row" style="padding-top:15px;padding-bottom:15px;  border:1px solid #b0cfda;border-radius:5px;background-color:#b0cfda;max-width:970px !important;margin:auto">

    <div class="col-md-3 ">
        <input type="text" class="form-control input-lg " placeholder="All India" />
    </div>
    <div class="col-md-7 ">
        <input type="text" class="form-control input-lg" placeholder="3,12,578 Ads near you" />
    </div>
    <div class="col-md-2 ">
        <a href="#" class="btn btn-success btn-lg" style="background-color:#2965be;color:white;border:1px double white">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
        @*<input type="button" class="form-control input-lg" value="Search" style="background-color:#2965be;color:white;border:1px double white" />*@
    </div>


</div>

<div class="row" style="max-width:970px !important;margin:auto">
    <div class="col-sm-6" id="slider-thumbs">
        <!-- Bottom switcher of slider -->
        <ul class="hide-bullets">
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-home" aria-hidden="true" style="font-size:36px;color:#b3b300"></i> 
                </div>

                @*<a class="thumbnail" id="carousel-selector-16">
                    <img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories16.jpg">     
                    <i class="fa fa-car" aria-hidden="true" style="font-size:36px"></i>             
                </a>*@
                <span>Properties</span>
                
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-car" aria-hidden="true" style="font-size:36px"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-1"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories01.jpg"></a>*@
                <span>Cars</span>
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-desktop" aria-hidden="true" style="font-size:36px;color:#cc5200"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-2"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories02.jpg"></a>*@
                <span>Electronics & Appliances</span>
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-bed" aria-hidden="true" style="font-size:36px;color:#867979"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-3"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories03.jpg"></a>*@
                <span>Furnitures</span> 
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-suitcase" aria-hidden="true" style="font-size:36px;color:#414141"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-4"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories04.jpg"></a>*@
                <span>Jobs</span>
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-mobile-phone" aria-hidden="true" style="font-size:36px;color:#1a422d"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-5"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories05.jpg"></a>*@
                <span>Mobiles</span>
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-motorcycle" aria-hidden="true" style="font-size:36px;color:#0066ff"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-6"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories06.jpg"></a>*@
                <span>Bikes</span>
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-university" aria-hidden="true" style="font-size:36px;color:#00b300"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-7"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories07.jpg"></a>*@
            
                <span>Books, Sports & Hobbies</span></li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-shopping-basket" aria-hidden="true" style="font-size:36px;color: #9900cc"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-8"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories08.jpg"></a>*@
                <span>Fashion</span>
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-paw" aria-hidden="true" style="font-size:36px"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-9"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories09.jpg"></a>*@
                <span>Pets</span>
            
            </li>
            <li class="col-sm-3 category">
                <div class="category-item">
                    <i class="fa fa-cogs" aria-hidden="true" style="font-size:36px;color:#ef0482"></i>
                </div>
                @*<a class="thumbnail" id="carousel-selector-10"><img src="https://bufiles.blob.core.windows.net/co3628/gallery/accessories/Thumb/falko_gallery_accessories10.jpg"></a>*@
                <span>Services</span>
            </li>
           
        </ul>
    </div>
    <div class="col-sm-6">
       
    </div>
    <!--/Slider-->
</div>


@section Styles {
    <link href="@Url.Content("~/Content/custome/home.css")" rel="stylesheet" type="text/css" /> 
}